*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
::selection{
    color: #ffffff;
    background-color: #fbc02d;
}
a{
    text-decoration: none;
    display: inline-block;
}
li{
    list-style: none;
}
body{
    font-family: 'Poppins',sans-serif !important;
}
/* common css  */
/* top bar start  */
#header #top_bar{
    background-color: #FBC02D;
    padding: 0;
}
#top_bar a,p,li,button,i{
    color: #111111;
    font-family: 'Poppins',sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    padding: 0;
}
#top_bar p{
    margin: 0;
}
#top_bar .email a{
    color: #ffffff !important;
}
#top_bar a{
    margin: 0px 8px;
    transition: .4s;
}
#top_bar a:hover{
 color: #505050;
}
#top_bar i{
    transition: .4s;
}
#top_bar i:hover{
 color: #505050;
}
/* top bar end  */
/* nav bar start */
#nav_bar{
    background-color: #111111;
}
#nav_bar a img {
    width: 100%;
    transform: scale(0.5);
}
#nav_bar ul li a{
    color: #ffffff;
    padding: 18px 28px;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    transition: .4s;
}
#nav_bar ul li .active{
    color: #FBC02D;
}
#nav_bar ul li a:hover{
    color: #FBC02D;
}
#nav_bar ul li a i{
    color: #ffffff;
    margin-left: 5px;
}
#nav_bar a i{
    color: #ffffff;
    font-size: 16px;
}
/* nav bar end */
/* banner start  */
#banner{
    background-image: linear-gradient(#111111d5,#111111d5),url(../images/2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    padding: 175px 0px;
}
#banner .main .item1 h3{
    color: #ffffff;
    font-size: 60px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 40px;
    text-align: center;
}
#banner .main .item1 h3 span{
    color: #FBC02D;
    font-size: 75px;
}
#banner .main .item2{
    margin-bottom: 40px;
}
#banner .main .item2 .box{
    height: 125px;
    width: 125px;
    border: 4px solid #FBC02D;
    
}
#banner .main .item2 .box:nth-child(2){
    border-top-color: #ffffff;
}
#banner .main .item2 .box:nth-child(3){
    border-left-color: #ffffff;
    border-top-color: #ffffff;
}
#banner .main .item2 .box:nth-child(4){
    border-left-color: #ffffff;
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
#banner .main .item2 .box p{
    text-align: center;
    font-weight: 400;
    font-size: 36px !important;
    color: #fbc02d;
    font-family: 'Poppins', sans-serif;
}
#banner .main .item2 .box span{
    font-family: 'Poppins', sans-serif;
    color: #fff;
    font-weight: 400;
    text-transform: capitalize;
    font-size: 12px !important;
}
#banner .main .item3 .btn1{
    border: 2px solid #fbc02d;
    background: transparent;
    padding: 11px 45px;
    margin-left: 0;
    margin-right: 12px;
    transition: .4s;
}
#banner .main .item3 .btn2{
    border: 2px solid transparent;
    background: #FBC02D;
    padding: 11px 45px;
    margin-left: 0;
    margin-right: 12px;
    transition: .4s;
}
#banner .main .item3 .btn1 a{
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}
#banner .main .item3 .btn2 a{
    color: #111111;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
}

#banner .main .item3 .btn1:hover{
    border: 2px solid transparent;
    background: #fbc02d;
    padding: 11px 45px;
    margin-left: 0;
    margin-right: 12px;
}
#banner .main .item3 .btn2:hover{
    border: 2px solid #FBC02D;
    background: transparent;
    padding: 11px 45px;
    margin-left: 0;
    margin-right: 12px;
}
#banner .main .item3 .btn2:hover a{
    color: #ffffff;
}
#banner .main .box::after {
    content: '';
    height: 20px;
    width: 20px;
    background-color: #FBC02D;
    position: absolute;
    border-radius: 50%;
    bottom: 40px;
    right: 40px;
    margin-left: 5px;
}
#banner .main .box::before {
    content: '';
    height: 20px;
    width: 20px;
    background-color: #FBC02D;
    border-radius: 50%;
    position: absolute;
    bottom: 40px;
    right: 80px;
    margin-left: 5px;
}
/* banner end */
/* 2nd banner start */
#upcoming_match_banner .main{
    padding: 120px 0px;
    background: url(../images/1.jpg)no-repeat center top;
    background-size: cover;
}
#upcoming_match_banner .main .item{
    width: 900px;
    margin: auto; 
}
#upcoming_match_banner .main .item p{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    margin: 14px 0 0;
    text-transform: uppercase;
    text-align: left;
    text-align: center;
}
#upcoming_match_banner .main .item h3{
    color: #ffffff;
    font-size: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}
#upcoming_match_banner .main .item img{
    display: block;
    width: 100%;
}
#upcoming_match_banner .main .item h4{
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    text-align: center;
}
#upcoming_match_banner .main .item h5 {
    color: #FBC02D;
    font-size: 30px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 70px;
    font-weight: 600;
    text-align: center;

}
#upcoming_match_banner .main .item .team{
    padding-top: 80px;
}
/* 2nd banner end */
/* content start */
/* news start */
#news{
    padding: 80px 0px;
}
#news h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block !important;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#news h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#news h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#news .item_1 h5 a{
    color: #111111;
    transition: .4s;
    background-color: transparent;
}
#news .item_1 h5 a:hover{
    color: #fbc02d;
    background-color: transparent;

}
#news .item_1 a{
    color: #ffffff;
    background-color: #111111;
    transition: .4s;
}
#news .item_1 a:hover{
    background-color: #FBC02D;
}
#news .item_2 a{
    outline: 1px solid #c3c3c3;
    border-radius: 5px;
    transition: .4s;
}
#news .item_1 p{
    color: #505050;
}
#news .item_2 a img{
    border-radius: 5px;
    outline: 10px solid transparent;
    transition: .4s;
}
#news .item_2 a:hover{
    outline: 1px solid transparent;

}
#news .item_2 a:hover img{
    outline: 10px solid #FBC02D;

}
#news .item_2 a{
    display: inline-block;
    width: 70%;
    margin-left: 20px;
}
#news .item_2 a img{
    height: 130px;
}
#news .item_2 .next_prev{
    width: 70%;
    margin: 0 20px;
}
#news .item_2 .next_prev a{
    width: auto;
    margin-right: 10px;
    margin-left: 0px;
    outline: none;
}
#news .item_2 .next_prev a i{
    color: #FBC02D;
    font-size: 30px;
}
#news .result_match{
    background-image: linear-gradient(#111111c8,#111111cc),url(../images/foot_bg.jpg);
    padding: 10px 0;
}
#news .result_match img{
    width: 50%;
    margin: auto;
    display: block;
}
#news .result_match h6{
    margin-top: 10px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 600;
    font-family: 'Poppins',sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
#news .result_match p{
    color: #656565;
    font-size: 20x;
    text-align: center;
}
#news .result_match .hypen{
    color: #fbc02d;
    font-size: 30px;
}
#news .result_match h5{
    color: #FBC02D;
    text-transform: uppercase;
    font-weight: 700;
}
#news .result_match .list ul{
    margin-top: 10px;
    border-bottom: 1px solid #999999;
    padding: 0px 10px;
}
#news .result_match .list ul li{
    color: #ffffff;
    font-size: 16px;
    font-weight: 500;
}
#news .result_match .next_result a{
    display: block;
    text-align: center;
    color: #fbc02d;
    font-weight: 500;
    transition: .4s;
}
#news .result_match .next_result a i{
    color: #FBC02D;
}
#news .result_match .next_result a:hover{
    color: #ffffff;

}
#news .result_match .next_result a:hover i{
    color: #ffffff;
}
/* news end */
/* match start  */
#match{
    margin-bottom: 80px;
}
#match h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block !important;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#match h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#match h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#match .head a{
    font-size: 16px;
    font-weight: 500;
    color: #111111;
    transition: .4s;
}
#match .head a i{
    color: #111111;
}
#match .head a:hover{
    color: #FBC02D;
}
#match .head a:hover i{
    color: #FBC02D;
}
#match .ticket{
    background-image: linear-gradient(#00000073,#00000073),url(../images/match-bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#match .ticket ul:nth-child(even){
    background-color: #000000c6;
}
#match .ticket ul li{
    padding: 5px 0px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 35px;
}
#match .ticket ul li:nth-child(even){
    color: #FBC02D;
}
#match .ticket ul li a{
    color: #FBC02D;
    font-size: 14px;
    font-weight: 400;
    transition: .4s;
}
#match .ticket ul li a i{
    color: #FBC02D;
}

#match .ticket ul li a:hover{
    color: #ffffff;
}
#match .ticket ul li a:hover i{
    color: #ffffff;
}
#match table tr td a,i{
    padding: 1.8px 0px;
    color: #111111;
    font-weight: 500;
    transition: .4s;
}
#match table tr td a:hover{
    color: #FBC02D;
}
#match table tr td a:hover i{
    color: #FBC02D;
}
#match table thead th{
    color: #FBC02D;
}
/* match end */
/* latest play start */
#play{
    padding: 80px 0px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.626),rgba(0, 0, 0, 0.546)),url(../images/video-bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
#play .overlay{
    position: absolute;
    width: 50%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    top: 0;
    left: 0;
}
#play h3{
    position: relative;
    font-size: 24px;
    color: #ffffff;
    display: inline-block !important;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#play h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#play h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: "";
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#play .media_player{
    padding: 3px;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #FBC02D;
    border-radius: 50%;
    transition: .4s;
    box-shadow: transparent;
}
#play .media_player a{
    border: 2px solid #FBC02D;
    border-radius: 50%;
    background-color: #ffffff;
    padding: 20px 28px;
    transition: .4s;
}
#play .media_player a i{
    font-size: 40px;
    color: #FBC02D;
}
#play .media_player a:hover{
    background-color: #00000074;
    border: 2px solid transparent;

}
#play .media_player:hover{
    box-shadow: #00000091 0px 54px 55px, #00000091 0px -12px 30px, #00000091 0px 4px 6px, #00000091 0px 12px 13px, #00000091 0px -3px 5px;

}
#play .item{
    position: relative;
}
#play .item:hover .side_overlay{
    transform: scaleX(1);
}
#play .item:hover a{
    color: #FBC02D;
}
#play .item .side_overlay{
    height: 100%;
    width: 45%;
    background-color: #50505061;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
    transform: scaleX(0);
}
#play .item a{
    color: #ffffff;
    font-size: 16px;
    line-height: 32px;
    font-weight: 500;
    transition: .4s;
}
#play .item p{
    color: #FBC02D;
    font-size: 16px;
    font-weight: 500;
    line-height: 32px;
}
#play .item p i{
    color: #FBC02D;
    font-size: 16px;
    margin-right: 5px;
    cursor: pointer;
}
/* latest play end */
/* player start   */
#player{
    padding: 80px 0px;
}
#player h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block !important;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#player h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#player h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#player .main .item{
    width: 23%;
    position: relative;
    overflow: hidden;
}
#player .main .details {
    background-color: #fbc12dbe;
    width: 100%;
    position: absolute;
    bottom: -170px;
    transition: .4s;
}
#player .main .details:hover{
    bottom: 0px;
}
#player .main .details p{
    color: #111111;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
}
#player .main .details ul li{
    color: #111111;
    font-size: 13px;
    font-weight: 500;
    line-height: 35px;
}
#player .main .details ul li i{
    color: #111111;
    font-size: 12px;
    margin-right: 5px;
    cursor: pointer;
}
#player .main .item_last{
    background-color: #FBC02D;
    padding: 30px 60px 10px 20px;
}
#player .main .item_last p{
    width: 70%;
    font-size: 18px;
    line-height: 25px;
    color: #111111;
    font-weight: 600;
}
#player .main .item_last form label{
    color: #111111;
    font-size: 16px;
    font-weight: 400;
}
#player .main .item_last .last input{
    border: 1px solid transparent;
    color: #ffffff;
    background-color: #000;
    font-size: 16px;
    font-weight: 500;
    transition: .4s;
}
#player .main .item_last .last input:hover{
    border: 1px solid #000000;
    background-color: #b0861d;
}
/* player end   */
/* gallery start  */
#gallery{
    padding-bottom: 80px;
}
#gallery h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#gallery h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#gallery h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#gallery .main .item{
    width: 32%;
    margin: 14px 0px;
    position: relative;
    overflow: hidden;
}
#gallery .main .gallery_details .top {
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: -120px;
    top: -120px;
    clip-path: polygon(100% 0px, 0px 0px, 0px 100%);
    transition: .4s;
    padding: 30px 25px !important;
}
#gallery .main .gallery_details .bottom {
    width: 70%;
    height: 80%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    bottom: -120px;
    right: -120px;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    padding: 156px 25px 0px 210px;
    transition: .4s;
}
#gallery .main .gallery_details p{
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
#gallery .main .gallery_details i{
    color: #FBC02D;
    margin-right: 4px;
    cursor: pointer;
}
#gallery .main .gallery_details .bottom a{
    margin-right: 10px;
}
#gallery .main .item:hover .top{
    top: 0;
    left: 0;
}
#gallery .main .item:hover .bottom{
    bottom: 0;
    right: 0;
}
/* gallery end  */
/* tropphy start  */
#tropphy{
    padding: 80px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(../images/tropphy/awards-bg.jpg);
    background-size: cover;
    background-position: center;
}
#tropphy h3{
    position: relative;
    font-size: 24px;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#tropphy h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#tropphy h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#tropphy .main .item{
    width: 22%;
    overflow: hidden;
}
#tropphy .main .item .details{
    background-color: #fbc02d;
    top: -52px;
    left: 0;
    transition: .6s;
}
#tropphy .main .item:hover .details{
    top: 100%;
    transform: translateY(-100%);
}
#tropphy .main .item .details p{
    margin: 0;
    font-size: 16px;
    font-weight: 600;
    line-height: 35px;
}
/* tropphy end  */
/* product start  */
#product{
    padding: 80px 0px;
}
#product h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#product h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#product h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #F1F1F1;
    width: 100%;
}
#product .main .item{
    width: 23%;
    background-color: #F1F1F1;
    position: relative;
    overflow: hidden;
}
#product .main .item h4{
    font-size: 20px;
    font-weight: 600;
}
#product .main .item h4 a{
    color: #111111;
    transition: .4s;
}
#product .main .item h4 a:hover{
    color: #fbc02d;
}

#product .main .item p{
    font-size: 18px;
    font-weight: 500;
    color: #505050;
}
#product .main .item button{
    border: 1px  solid #000000;
    font-size: 14px;
    font-weight: 500;
    color: #505050;
    background-color: transparent;
    transition: .4s;
}
#product .main .item:hover button{
    border: 1px  solid transparent;
    color: #fbc02d;
    background-color: #000000;
}
#product .main .item button i{
    color: #505050;
}
#product .main .item:hover button i{
    color: #fbc02d;
}
#product .main .item .overlay{
    width: 100%;
    height: 70%;
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    transition: .4s;
}
#product .main .item:hover .overlay{
    background-color: rgba(0, 0, 0, 0.8);
}
#product .main .item .overlay::after {
    content: '';
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: #fbc02d;
    top: -7%;
    right: -7%;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 100% 89%, 100% 100%, 75% 100%, 75% 28%, 0 28%);
    transition: .4s;
}
#product .main .item .overlay::before{
    content: '';
    height: 80px;
    width: 80px;
    position: absolute;
    background-color: #fbc02d;
    bottom: -3%;
    left: -30%;
    transition: .4s;
    clip-path: polygon(0 0, 26% 0, 28% 0, 28% 75%, 100% 75%, 100% 85%, 100% 86%, 100% 89%, 100% 100%, 28% 100%, 0 100%, 0 30%);
}
#product .main .item:hover .overlay::after{
    top: 10%;
    right: 10%;
}
#product .main .item:hover .overlay::before{
    bottom: 10%;
    left: 10%;
}
/* product end  */
/* founder start */
#founder{
    padding-bottom: 80px;
}
#founder h3{
    position: relative;
    font-size: 24px;
    color: #111111;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#founder h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 50%;
}
#founder h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #999999;
    width: 100%;
}
#founder p{
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    color: #111111;
}
#founder p i{
    color: #fbc02d;
    cursor: pointer;
}
/* founder end */
/* brand logo start  */
#brand{
    padding: 80px 0px;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../images/tropphy/awards-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#brand .main .item{
    width: 23%;
    margin: 0 auto;
}
#brand .main .item a{
    color: #fbc02d;
    font-size: 30px;
    font-weight: 700;
    border: 1px solid #8d6a11;
    padding: 15px 35px;
    display: inline-block;
    background-color: rgb(0, 0, 0,0.5);
    transition: .4s;
}
#brand .main .item a:hover{
    background-color: rgb(0, 0, 0,0.8);
}
/* brand logo end  */
/* content end */
/* footer start */
#footer{
    background-color: #111111;
}
/* footer top start  */
#footer .footer_top{
    padding: 80px 0px;
    border-bottom: 1px solid #505050;
}
#footer .footer_top .main .item{
    width: 23%;
}
#footer h3{
    position: relative;
    font-size: 20px;
    color: #ffffff;
    text-transform: capitalize;
    margin-bottom: 44px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    line-height: 17px;
    padding-bottom: 10px;
}
#footer h3::after{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #fbc02d;
    width: 40%;
}
#footer h3::before{
    height: 4px;
    left: 0;
    position: absolute;
    content: '';
    bottom: -14px;
    background: #999999;
    width: 90%;
}
#footer p{
    color: #afb0b2;
    font-size: 14px;
    font-weight: 400;
}
#footer .template{
    width: 90%;
    border-bottom: 1px solid #505050;
    padding: 10px 0px;
}
#footer .template .left{
    background-color: #FBC02D;
}
#footer .template .left{
    width: 30%;
}
#footer .template .right{
    width: 60%;
    padding-left: 5px;
}
#footer .btm{
    border-bottom: none;
}
#footer .template .left p{
    color: #1e1e1e;
    font-size: 20px;
    font-weight: 500;
}
#footer .template a{
    color: #b3b3b3;
    font-size: 14px;
    font-weight: 500;
    transition: .4s;
}
#footer .template a:hover{
    color: #fbc02d;
}
#footer .item3 li{
    font-size: 14px;
    line-height: 32px;
    border-bottom: 1px solid #b3b3b3;
    width: 90%;
}
#footer .item3 .last{
    border: none;
}
#footer .item3 li a{
    font-size: 16px;
    color: #b3b3b3;
    transition: .4s;
}
#footer .item3 li a:hover{
    color: #F1F1F1;
}

#footer .item3 li a i{
    color: #b3b3b3;
    margin-right: 5px;
}
#footer .item4 input{
    width: 90%;
    margin: 6px 0px;
    padding: 8px 6px;
    font-size: 16px;
    font-weight: 400;
    outline: none;
}
#footer .item4 input::placeholder{
    color: #b3b3b3;
}
#footer .item4 input:nth-child(3){
    font-weight: 500;
    background-color: #fbc02d;
    border: 2px solid transparent;
    transition: .4s;
}
#footer .item4 input:nth-child(3):hover{
    color: #ffffff;
    font-weight: 500;
    background-color: transparent;
    border: 2px solid #fbc02d;
}
/* footer top end  */
/* footer bottom start */
#footer_btm .main {
    margin-right: 25px;
}
#footer_btm .main .item{
    width: 25%;
}
#footer_btm .item2 a{
    padding: 5px  11px;
    background-color: #656565;
    margin-right: 10px;
    border-radius: 50%;
}
#footer_btm .item2 i{
    color: #ffffff;
    transition: .4s;
}
#footer_btm .item2 a:hover i{
    color: #fbc02d;
}
#footer_btm{
    padding: 10px 0px;
}
#footer_btm p a{
    color: #fbc02d;
    font-weight: 500;
    transition: .4s;
}
#footer_btm p a:hover{
    color: #F1F1F1;
}
/* footer bottom end */
/* footer end */